* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    max-height: 100vh;
    overflow: hidden;
}

img {
    position: absolute;
    top: 5px;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -10;
}

.intro {
    display: flex;
    background-color: #5EC4CD;
    justify-content: center;
    align-items: center;
}

.canvas-container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center
}

#game {
    display: flex;
    width: 100%;
    z-index: 10;
    justify-content: center;
    align-items: center;
}
